{% load static %}
{% include 'header.html' %}

<section class="home" id="home">
 
    
  </section>
  
<section class="book" id="book">
  
    <div class="row">
      <div class="image">
        <img src="{% static 'img/home-img.svg' %}" alt="" />
      </div>

      <form method="post">
        <h3>login to account</h3>
        {% csrf_token %}
        {% if messages %}
            {% for message in messages %}
                <div style="color: red;">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <input type="text" placeholder="your username" name="username" id="username"  class="box" />
        
        <input type="password" placeholder="your password" name="password" id="password" class="box" />
        
        <input type="submit" value="login" class="btn" />
        <br>
        <p style="margin-top: 30px;"> dont have an account? create <a href="">here</a> </p>
      </form>
     
    </div>
  </section>



<script src="{% static 'js/script.js' %}"></script>